*{
    margin:0;
    padding: 0;
}

.x{
    color: #DE4870;
}

.o{
    color:#DE6B48 ;
}

body{
    background-color: #8BC2F8;
}

.title{
    text-align: center ;
    padding-top: 15px;
    font-size: 60px;
    color: #635D2C;
}

.container{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.winnerBackground{
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.winnerBox{
    position: fixed;
    text-align: center;
    height: 150px;
    width: 350px;
    background-color:rgb(139, 194, 248) ;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid ;
    border-radius: 50px;
    /* background: rgba(139, 194, 248, 0.5); */
}

.winner{
    position: relative;
    text-align: center;
    top:20%;
    margin-bottom: 20px;
    font-size: 45px;
    color: #635D2C;
}

.Game{
    display: flex;
    height: 440px;
    width: 440px;
    flex-wrap: wrap;
    /* flex-basis: 10px; */
    gap: 10px;
}

.reset{
    margin: 20px;
    padding: 5px 8px;
    font-size: 25px;
    height: 40px;
    /* width: 30px; */
    border-radius: 12px;
    background-color: #B597A0;
    color: #635D2C;
    border: white;
}
.box{
    height: 140px;
    width: 140px;
    border-radius: 20px;
    border: white;
    background-color: #4282B3;
    /* color: #DE6B48; */
    font-size: 70px;
}

@media(max-width:500px){
    .x {
        color: #DE4870;
    }

    .o {
        color: #DE6B48;
    }
    .title{
        padding-top: 5px;
        font-size: 40px;
    }

    .container{
        height: 60vh;
    }

    .Game{
        height: 330px;
        width: 330px;
        gap:5px;
    }

    .box{
        height: 105px;
        width: 105px;
        font-size: 67px;
    }

    .reset {
        margin: 15px;
        padding: 4px 6px;
        font-size: 20px;
        height: 30px;
        /* width: 30px; */
        border-radius: 9px;
    }
    .winnerBox {
        height: 110px;
        width: 262px;
    }

    .winner{
        font-size: 33px;
        margin-bottom: 15px;
    }
}